{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-primary py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Carrinho de Compras</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Produtos no seu carrinho</p>
                </div>
            </div>
        </header>
        <br/>
        
        <div class="container">
        {% if carrinho_produtos %}


            {% for produto in carrinho_produtos %}

                <div class="card mb-3">
                  <a href="{% url 'home' %}">Continuar comprando</a><br/><br/>
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ produto.imagem.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <center>
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text justified">{{ produto.descricao }}</p>
            
                        R$ {{ produto.preco }}
                        
                            <br/><br/>

                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantidade:</div>
                                  <div class="col-md-2">
                                    <select class="form-select form-select-sm" id="select{{produto.id}}">
                                        {% for key, value in quantidades.items %}
                                            {% if key == produto.id|slugify %}
                                            <option selected>{{ value }}</option>
                                            {% endif %}
                                        {% endfor%}
                                                                              
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                  </div>
                              </div>
                              <br/><br/>
                            <button type="button" data-index="{{ produto.id }}" class="btn btn-secondary atualiza-carrinho">Atualizar</button>
                            <button type="button" data-index="{{ produto.id }}" class="btn btn-danger deleta-item">Remover</button>
                        
                                    
                        </center>
                        </div>
                    </div>
                    </div>
                </div>

            {% endfor %}
            <div align="right">
            <h3>Total: R$ {{ total }}</h3>
            <a href="{% url 'checkout' %}" class="btn btn-success">Comprar</a>
            </div>

        <br/><br/><br/>
        {% else %}
                Carrinho vazio
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
            
        </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<script>
// Atualiza o Carrinho
$(document).on('click', '.atualiza-carrinho', function(e){
  e.preventDefault();
  // Obter o id do item no carrinho
  var itemid = $(this).data('index');

  $.ajax({
    type: 'POST',
    url: '{% url "carrinho_update" %}',
    data: {
      produto_id: $(this).data('index'),
      produto_qtde: $('#select' + itemid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
      //console.log(json)
      //document.getElementById('carrinho_numero').textContent = json.qtde
      location.reload();
    },

    error: function(xhr, errmsg, err){

    }

  });

})


// Deleta item do Carrinho
$(document).on('click', '.deleta-item', function(e){
  e.preventDefault();
  // Obter o id do item no carrinho
  //var itemid = $(this).data('index');

  $.ajax({
    type: 'POST',
    url: '{% url "carrinho_delete" %}',
    data: {
      produto_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
      //console.log(json)
      //document.getElementById('carrinho_numero').textContent = json.qtde
      location.reload();
    },

    error: function(xhr, errmsg, err){

    }

  });

})




</script>

{% endblock %}