{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>

                        <div class="card">
                            <div class="card-header">
                              Pedido: #{{ pedido.id }} - R$ {{ pedido.valor_pago }}
                            </div>
                            <div class="card-body">
                              E-mail: {{ pedido.email }}<br/>
                                {% if pedido.data_enviado %}
                                    Data de envio: {{ pedido.data_enviado }}
                                {% else %}
                                    Data do pedido: {{ pedido.data_pedido }}
                                {% endif %}
                                <br/>
                                {{ pedido.nome }}<br/>
                                <pre>{{ pedido.endereco_entrega }}</pre>
                                <br/>
                              Itens:
                              {% for item in itens %}
                                {{ item.produtos }} - {{ item.quantidade }} - R$ {{ item.preco }}<br/>
                              {% endfor %}
                              <br/><br/>
                              {% if not pedido.enviado %}
                              <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="status_envio" value="True">
                                <button type="submit" class="btn btn-success">Marcar como Enviado!</button>
                              </form>

                              {% else %}
                              <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="status_envio" value="False">
                                <button type="submit" class="btn btn-danger">Marcar como Não Enviado!</button>
                              </form>

                              {% endif %}                              

                            </div>
                          </div>

                            
        				<br/><br/>

        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}