{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bem vindo a loja de cafés</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
        				<p align="justify">
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue arcu ante, non auctor est vehicula eget. Morbi dictum rutrum lorem, sit amet vehicula metus dapibus non. Fusce maximus aliquet velit, vel feugiat risus sodales id. Nulla facilisi. Quisque id neque vel justo congue vulputate. Aenean tempor sodales lorem in tincidunt. In ut erat magna. Ut pulvinar est quis eros vestibulum, quis scelerisque felis semper. Proin vestibulum ligula hendrerit odio commodo, eu blandit mauris lacinia. Mauris purus est, imperdiet dapibus augue vitae, pharetra sollicitudin sapien.
        				<br/><br/>
						Phasellus ultrices condimentum ex, id pulvinar sapien tempus eu. Integer luctus iaculis enim id tincidunt. Integer sollicitudin dui et risus commodo condimentum. Pellentesque sed risus sed lacus efficitur posuere. Curabitur vitae pellentesque nunc. Praesent sollicitudin est ac quam vehicula, vitae blandit ligula sagittis. Aliquam erat volutpat. Nulla faucibus fermentum fringilla.
						<br/><br/>
						Morbi vitae augue congue, pulvinar massa et, dictum lacus. Proin non varius est. Duis quis condimentum leo. Vestibulum a venenatis dui. Vestibulum rutrum magna magna, in ultrices diam laoreet vel. Vestibulum scelerisque, ipsum in fringilla dictum, magna neque lacinia lectus, vel volutpat ante leo quis quam. Nullam vitae pretium sem, nec vulputate nisi. Curabitur iaculis elementum tortor non lacinia. Duis eget blandit augue. Ut sit amet sapien blandit, fermentum dolor quis, consequat libero. Morbi eu metus ac tellus rutrum tempor ut eget elit. Fusce dui lacus, ullamcorper porta elit nec, aliquet varius velit. Fusce elementum sem non est commodo aliquet. Sed imperdiet, sem et ornare blandit, est lorem semper lacus, in pharetra diam sapien nec enim. 
        				</p>
        				<br/><br/>	
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}