{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-primary py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bem-vindo à loja de cafés</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
        				<p align="justify">
        				Esta página foi desenvolvida para a disciplina de Projeto Integrador Transdisciplinar em Ciência da Computação.
        				<br/><br/>
						<strong>Linguagem:</strong> HTML, CSS e Python<br/>
						<strong>Banco de Dados:</strong> PostgreSQL<br/>
						<strong>Hospedagem:</strong> Oracle Cloud<br/>
						<strong>Plataforma:</strong> MVC Django<br/>
						<strong>Codificação:</strong> Tradicional<br/>
						<br/>
						<strong>Registro de nome:</strong> <a href="https://freedns.afraid.org" target="_blank"> freedns.afraid.org</a><br/>
						<strong>Certificado SSL:</strong> <a href="https://letsencrypt.org" target="_blank"> Let's Encrypt</a><br/>

        				</p>
        				<br/><br/>	
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}