{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Atualiza perfil</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Atualiza perfil do usuário</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
                        <br/><br/>
                        <br/><br/>  

<form method="POST" action="{% url 'atualiza_usuario' %}">
    {% csrf_token %}

    {{ user_form.as_p }}  
    <br/><br/>
    <button type="submit" class="btn btn-secondary">
        Atualiza perfil
    </button>
</form>

<br/><br/>

<a href="{% url 'atualiza_senha' %}" class="btn btn-secondary">Atualiza Senha</a>

<br/><br/>
<br/><br/>
<br/><br/>





                    </div>
            </div>
        </div>

{% endblock %}