{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-primary py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Buscar produtos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Encontre o produto desejado</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-10">
        				<br/><br/>

                        <div class="card">
                            <div class="card-header">
                              Buscar produtos
                            </div>
                            <div class="card-body">
                                <form method="POST" action="{% url 'busca' %}">
                                    {% csrf_token%}

                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Nome do produto" name="buscado">
                                    </div>                            
                            
                                <button type="submit" class="btn btn-secondary">
                                    Buscar
                                </button>
                                </form>

                            </div>
                          </div>        				
        				<br/><br/>

                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                        {% if buscado %}

                            {% for produto in buscado %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ produto.imagem.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                                            <!-- Product price-->
                                            R$ {{ produto.preco }}
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" href="{% url 'produto' produto.id %}">Informações</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            
                            {% endfor %}

                        {% endif %}

                        </div>

                        <br/><br/>

        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}